<!--The content below is only a placeholder and can be replaced.-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class ="nav nav-tabs">
                     <li role="presentation"><a routerLinkActive = "active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
                    <li role="presentation"><a routerLinkActive = "active" routerLink="/view">View</a></li> 
                </ul>    
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <router-outlet> </router-outlet>
            </div>
        </div>
    </div>

